/* You can add global styles to this file, and also import other style files */

$primary: #C3002F;
$enable-rounded: false;
$enable-negative-margins: true; // z.b. mt-n5

@import '@angular-schule/workshop-styles/index';
